<div class="jumbotron">
  <h1 class="display-3">Signup</h1>
  <p class="lead">IdeaBox is a revolutionary website dedicated to keeping your data safe.</p>
  <hr class="my-4">
  <p>Save your ideas.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>



<%= render partial: 'form' %>
