<div class="jumbotron">
  <h1 class="display-3">Signup</h1>
  <p class="lead">IdeaBox is a revolutionary website dedicated to keeping your data safe.</p>
  <hr class="my-4">
  <p>NASA series of tubes nothing to fear but fear itself war of northern aggression. Apple pie crippling obesity epidemic M*A*S*H unilateral military action Liberty Bell. Manifest destiny goodnight and goodluck coalition of the willing the south will rise again. G.I. Joe Monsanto stars and stripes git ‘er done hot dog don’t mess with Texas. NASCAR deep-dish wardrobe malfunction smallpox blanket Brett Favre Uncle Sam. Mission accomplished slavery American football Budweiser Kentucky bourbon free market. Truck nutz tea party landed on the moon Westboro Baptist Church Fox Mulder United we stand.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/learn_more" role="button">Learn more</a>
  </p>
</div>



<%= render partial: 'form' %>
